#tuple
1.建立後不可以改變內容
2.不可新增，編輯和刪除元素

In [1]:
# tuple
(404,"error")

(404, 'error')

In [2]:
def get_tuple():
    return (404,"error")

In [3]:
#tuple拆解法

(code, message) = get_tuple()
print(code)
print(message)

404
error

In [4]:
#1個元素的tuple
(404,)

(404,)

#list
1.建立後可以改變內容
2.可新增，編輯和刪除元素

In [5]:
list()

[]

In [6]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
list(("a","b","c",1,2,3))

['a', 'b', 'c', 1, 2, 3]

In [10]:
#符號建立
stu1 = [78, 98, 56, 74, 79]
stu1

[78, 98, 56, 74, 79]

In [11]:
for score in stu1:
    print(score)

78
98
56
74
79

In [28]:
enmpy_list = []
weekdays = ['星期一', '星期二', '星期三', '星期四', '星期五', '星期六', '星期日']
big_birds = ['emu', 'ostrich', 'cassowary']
first_names = ['Graham', 'John', 'Terry', 'Terry', 'Michael']

In [27]:
first_names

['hsu', 'Graham', 'John', 'Terry', 'Terry', 'Michael', 'robert', 'robert']

In [21]:
first_names[5]

'Michael'

In [18]:
type(first_names)

list

In [22]:
type(10)

int

In [23]:
type(10.0)

float

In [25]:
type("robert")

str

In [26]:
len(first_names)

8

In [19]:
first_names.append('robert')
first_names

['Graham', 'John', 'Terry', 'Terry', 'Michael', 'robert', 'robert']

In [20]:
first_names.insert(0,"hsu")
first_names

['hsu', 'Graham', 'John', 'Terry', 'Terry', 'Michael', 'robert', 'robert']

In [34]:
for word in"HelloWord":
    print(word)

H
e
l
l
o
W
o
r
d

In [39]:
words = list("HelloWorld")
words

['H', 'e', 'l', 'l', 'o', 'W', 'o', 'r', 'l', 'd']

In [40]:
#slice切割
words[0:5]

['H', 'e', 'l', 'l', 'o']

In [41]:
words[-5:-1]

['W', 'o', 'r', 'l']

In [42]:
words[-5:]

['W', 'o', 'r', 'l', 'd']

In [43]:
words[:5]

['H', 'e', 'l', 'l', 'o']

In [44]:
#2維list
nb = ["筆記電腦", "商用筆電"]
mobile = ['APPLE', 'ASUS', 'HTC']
home = [3, "冰箱", 2, "洗衣機"]
all3c = [nb, mobile, home]
all3c

[['筆記電腦', '商用筆電'], ['APPLE', 'ASUS', 'HTC'], [3, '冰箱', 2, '洗衣機']]

In [45]:
print(all3c[0])
print(all3c[1])
print(all3c[2])

['筆記電腦', '商用筆電']
['APPLE', 'ASUS', 'HTC']
[3, '冰箱', 2, '洗衣機']

In [46]:
print(all3c[0][0])
print(all3c[1][0])
print(all3c[2][0])

筆記電腦
APPLE
3