#tuple
1.建立後不可以改變內容
2.不可新增，編輯和刪除元素

In [1]:
# tuple
(404,"error")

(404, 'error')

In [2]:
def get_tuple():
    return (404,"error")

In [3]:
#tuple拆解法

(code, message) = get_tuple()
print(code)
print(message)

404
error

In [4]:
#1個元素的tuple
(404,)

(404,)

#list
1.建立後可以改變內容
2.可新增，編輯和刪除元素

In [5]:
list()

[]

In [6]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
list(("a","b","c",1,2,3))

['a', 'b', 'c', 1, 2, 3]

In [10]:
#符號建立
stu1 = [78, 98, 56, 74, 79]
stu1

[78, 98, 56, 74, 79]

In [11]:
for score in stu1:
    print(score)

78
98
56
74
79

In [28]:
enmpy_list = []
weekdays = ['星期一', '星期二', '星期三', '星期四', '星期五', '星期六', '星期日']
big_birds = ['emu', 'ostrich', 'cassowary']
first_names = ['Graham', 'John', 'Terry', 'Terry', 'Michael']

In [27]:
first_names

['hsu', 'Graham', 'John', 'Terry', 'Terry', 'Michael', 'robert', 'robert']

In [21]:
first_names[5]

'Michael'

In [18]:
type(first_names)

list

In [22]:
type(10)

int

In [23]:
type(10.0)

float

In [25]:
type("robert")

str

In [26]:
len(first_names)

8

In [19]:
first_names.append('robert')
first_names

['Graham', 'John', 'Terry', 'Terry', 'Michael', 'robert', 'robert']

In [20]:
first_names.insert(0,"hsu")
first_names

['hsu', 'Graham', 'John', 'Terry', 'Terry', 'Michael', 'robert', 'robert']

In [34]:
for word in"HelloWord":
    print(word)

H
e
l
l
o
W
o
r
d

In [39]:
words = list("HelloWorld")
words

['H', 'e', 'l', 'l', 'o', 'W', 'o', 'r', 'l', 'd']

In [40]:
#slice切割
words[0:5]

['H', 'e', 'l', 'l', 'o']

In [41]:
words[-5:-1]

['W', 'o', 'r', 'l']

In [42]:
words[-5:]

['W', 'o', 'r', 'l', 'd']

In [43]:
words[:5]

['H', 'e', 'l', 'l', 'o']

In [44]:
#2維list
nb = ["筆記電腦", "商用筆電"]
mobile = ['APPLE', 'ASUS', 'HTC']
home = [3, "冰箱", 2, "洗衣機"]
all3c = [nb, mobile, home]
all3c

[['筆記電腦', '商用筆電'], ['APPLE', 'ASUS', 'HTC'], [3, '冰箱', 2, '洗衣機']]

In [45]:
print(all3c[0])
print(all3c[1])
print(all3c[2])

['筆記電腦', '商用筆電']
['APPLE', 'ASUS', 'HTC']
[3, '冰箱', 2, '洗衣機']

In [46]:
print(all3c[0][0])
print(all3c[1][0])
print(all3c[2][0])

筆記電腦
APPLE
3

In [47]:
import random
random.randint(50, 100)

89

In [49]:
stu1 = list()
for _ in range(5):
    stu1.append(random.randint(50, 100))
stu1

[88, 100, 67, 84, 75]

In [52]:
students = []
for _ in range(50):
    stu = list()
    for _ in range(5):
        stu.append(random.randint(50, 100))
    students.append(stu)
students

[[91, 86, 87, 80, 77],
 [61, 54, 83, 93, 73],
 [88, 83, 65, 93, 86],
 [58, 51, 80, 98, 57],
 [58, 94, 79, 78, 55],
 [81, 58, 56, 75, 61],
 [53, 57, 83, 73, 87],
 [77, 88, 94, 56, 98],
 [55, 54, 54, 75, 70],
 [56, 58, 54, 58, 54],
 [62, 56, 63, 65, 50],
 [80, 90, 83, 83, 79],
 [75, 100, 95, 57, 80],
 [56, 66, 57, 89, 88],
 [90, 96, 53, 66, 72],
 [65, 89, 93, 61, 52],
 [60, 90, 57, 68, 59],
 [95, 70, 98, 78, 81],
 [90, 61, 96, 73, 56],
 [77, 51, 78, 91, 90],
 [99, 57, 64, 71, 64],
 [85, 89, 70, 61, 50],
 [88, 77, 82, 93, 52],
 [86, 57, 81, 84, 96],
 [99, 92, 56, 93, 78],
 [70, 54, 87, 81, 75],
 [65, 97, 64, 98, 61],
 [98, 92, 73, 83, 65],
 [94, 95, 56, 89, 77],
 [68, 92, 96, 66, 98],
 [69, 98, 87, 95, 76],
 [100, 75, 98, 78, 79],
 [60, 77, 69, 81, 69],
 [56, 88, 79, 74, 87],
 [59, 73, 88, 71, 72],
 [94, 74, 77, 79, 67],
 [62, 93, 57, 52, 60],
 [54, 99, 80, 65, 62],
 [87, 74, 51, 100, 83],
 [72, 95, 74, 100, 52],
 [76, 85, 76, 93, 61],
 [55, 51, 94, 84, 85],
 [58, 78, 69, 76, 63],
 [51, 52, 87, 56, 52],
 [93, 96, 92, 77, 51],
 [93, 72, 79, 100, 58],
 [98, 97, 68, 95, 98],
 [54, 79, 67, 80, 72],
 [88, 65, 59, 61, 79],
 [83, 74, 75, 98, 75]]